extends layout

include _include/sharedHTMLfunctions

block content
    .row.page-header
        .col-lg-12
            h1= title
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-6
                    p.rating
                        +outputRatings(location.rating)
                    p= location.address
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Opening hours
                        .panel-body
                            each openingHour in location.openingHours
                                p= openingHour
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Facilities
                        .panel-body
                            each facility in location.facilities
                                span.label.label-warning
                                    span.glyphicon.glyphicon-ok
                                    | &nbsp;#{facility}
                                | &nbsp;
                .col-xs-12.col-sm-6.location-map
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Location map
                        .panel-body
                            img.img-responsive.img-rounded(src='#{location.map}')
            .row
                .col-xs-12
                    .panel.panel-primary.review-panel
                        .panel-heading
                            a.btn.btn-default.pull-right(href='/location/review/new') Add review
                            h2.panel-title Customer reviews
                        .panel-body.review-container
                            each review in location.reviews
                                .row
                                    .review
                                        .well.well-sm.review-header
                                            span.rating
                                                +outputRatings(review.rating)
                                            span.reviewAuthor &nbsp;&nbsp;&nbsp;#{review.author}
                                            small.reviewTimestamp &nbsp;&nbsp;&nbsp;#{review.timestamp}
                                        .col-xs-12
                                            p= review.text
        .col-xs-12.col-md-3
            p.lead #{location.name} #{sidebar.context}
            p= sidebar.callToAction